.random-planet{
	display: flex;
}
.random-planet img {
	width: 150px;
	height: 150px;
	border-radius: 15px;
	margin-right: 20px;
}

.random-planet .list-group {
	margin: 1rem 0 0 1rem;
}

.random-planet .list-group-item {
padding: .25rem;
}

.random-planet .list-group-item .term {
margin-right: .5rem;
}