@keyframes ldio-l3q8t2qogj {
	0% { transform: rotate(0) }
	100% { transform: rotate(360deg) }
}
.ldio-l3q8t2qogj div { box-sizing: border-box!important }
.ldio-l3q8t2qogj > div {
position: absolute;
width: 92px;
height: 92px;
top: 4px;
left: 4px;
border-radius: 50%;
border: 8px solid #000;
border-color: #e15b64 transparent #e15b64 transparent;
animation: ldio-l3q8t2qogj 1.8518518518518516s linear infinite;
}

.ldio-l3q8t2qogj > div:nth-child(2), .ldio-l3q8t2qogj > div:nth-child(4) {
width: 74px;
height: 74px;
top: 13px;
left: 13px;
animation: ldio-l3q8t2qogj 1.8518518518518516s linear infinite reverse;
}
.ldio-l3q8t2qogj > div:nth-child(2) {
border-color: transparent #f8b26a transparent #f8b26a
}
.ldio-l3q8t2qogj > div:nth-child(3) { border-color: transparent }
.ldio-l3q8t2qogj > div:nth-child(3) div {
position: absolute;
width: 100%;
height: 100%;
transform: rotate(45deg);
}
.ldio-l3q8t2qogj > div:nth-child(3) div:before, .ldio-l3q8t2qogj > div:nth-child(3) div:after { 
content: "";
display: block;
position: absolute;
width: 8px;
height: 8px;
top: -8px;
left: 34px;
background: #e15b64;
border-radius: 50%;
box-shadow: 0 84px 0 0 #e15b64;
}
.ldio-l3q8t2qogj > div:nth-child(3) div:after {
left: -8px;
top: 34px;
box-shadow: 84px 0 0 0 #e15b64;
}

.ldio-l3q8t2qogj > div:nth-child(4) { border-color: transparent; }
.ldio-l3q8t2qogj > div:nth-child(4) div {
position: absolute;
width: 100%;
height: 100%;
transform: rotate(45deg);
}
.ldio-l3q8t2qogj > div:nth-child(4) div:before, .ldio-l3q8t2qogj > div:nth-child(4) div:after {
content: "";
display: block;
position: absolute;
width: 8px;
height: 8px;
top: -8px;
left: 25px;
background: #f8b26a;
border-radius: 50%;
box-shadow: 0 66px 0 0 #f8b26a;
}
.ldio-l3q8t2qogj > div:nth-child(4) div:after {
left: -8px;
top: 25px;
box-shadow: 66px 0 0 0 #f8b26a;
}
.loadingio-spinner-double-ring-yzbufr5cbu {
width: 78px;
height: 78px;
display: inline-block;
overflow: hidden;
background: #303030;
margin: auto;
}
.ldio-l3q8t2qogj {
width: 100%;
height: 100%;
position: relative;
transform: translateZ(0) scale(0.78);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-l3q8t2qogj div { box-sizing: content-box; }